@import './variables.scss';

.section-container {
	margin: 80px 30px;
	position: relative;

	@media (max-width: 576px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 10px 5px 80px 5px;
		text-align: center;
	}

	.hero-content-container {
		display: flex;
		flex-direction: column;

		.hero-content {

			@media (max-width: 768px) {
				text-align: center;
			}

			h1 {
				font-size: 56px;
				font-weight: $font-weight-700;
				color: $dark-blue;
				padding: 40px 0px 20px 0px;
				letter-spacing: -2px;

				@media (max-width: 768px) {
					font-size: 46px;
				}
			}

			p {
				color: $light-gray-text;
				padding-bottom: 20px;
			}
		}
	}
}