@import './variables.scss';

.content-space {
	padding-top: 20px;
}

.service-card-col {
	@media (max-width: 768px) {
		padding-top: 60px;
	}

	.services-card {
		margin-bottom: 30px;

		@media (max-width: 768px) {
			text-align: start;
		}

		.service-title-row {
			margin-bottom: 20px;
			display: flex;
			align-items: center;

			@media (max-width: 768px) {
				background-color: $very-pale-red;
				padding: 5px 0px;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			}
		}

		.service-count {
			background-color: $bright-red;
			color: white;
			padding: 10px 24px;
			border-radius: 20px;
			font-size: 14px;
		}

		.service-title {
			margin-left: 5px;
		}

		.service-content-text {
			margin-left: 5px;
		}
	}
}

.pattern-overlay-2 {
	position: absolute;
	left: -30%;
	z-index: -1;
	overflow: hidden;

	img {
		@media (max-width: 768px) {
			width: 200%;
			display: none;
		}
	}

	@media (max-width: 768px) {
		position: absolute;
		left: 69%;
		top: -36%;
		z-index: -1;
	}
}
